name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [linux, win32]

    steps:
    - uses: actions/checkout@v3

    - name: build docker image
      run: docker build -t build .

    - name: prepare
      run: cd lib && make prepare && cd ..

    - name: build in docker image
      run: docker run -v $PWD:/work --rm build bash -c "cd /work && make ${{ matrix.os }}"

    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}
        path: |
          ${{ matrix.os }}*.zip
          ${{ matrix.os }}*.tar.gz

  build_macos:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14, macos-13]

    steps:
    - uses: actions/checkout@v3

    - name: build
      run: make macos

    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}
        path: macos*.tar.gz

  release:
    needs: [ build , build_macos ]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/master')
    steps:
    - name: download artifacts
      uses: actions/download-artifact@v3
      with:
        path: .

    - name: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh && bash upload.sh artifact/*
